body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
}
/* header part - css */
.first-section {
}
.main-div {
  display: flex;
  padding-left: 6%;
}
.div1 {
}
.div1 img {
  width: 76%;
  padding-left: 86px;
}
.div1 h1 {
  font-size: 50px;
  border-left: 7px solid #b553fa;
}
.div1 p {
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
}
.span1 {
  color: #0389f7;
}
.span2 {
  margin-top: 54px;
  display: inline-block;
}

.button {
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 55px;
  background-image: linear-gradient(#a5d4ee, #11b1fb);
  border-radius: 5px;
  color: white;
  text-align: center;
  display: inline-block;
  /* margin-left: 0px; */
  margin-top: 25px;
}

/* This is First Content - css */

.H-one {
  font-size: 60px;
  text-align: center;
}
.span3 {
  color: #0389f7;
}
.image-all-illustrator {
  width: 200px;
  margin-left: 55px;
}
.main-div2 {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.box-div {
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 10px 10px 30px gray;
  padding-left: 20px;
  width: 30%;
  height: 494px;
  margin-left: 41px;
  border-radius: 15px;
}
#first-box-div {
  background-color: #e0ceee;
}
#second-box-div {
  background-color: #a5d4ee;
}
#third-box-div {
  background-color: #e7f8fb;
}
.H-four {
  font-size: 22px;
  font-weight: bold;
  margin-left: 106px;
}
.firstcontent-p {
  list-style: lower-alpha;
  line-height: 28px;
  line-break: auto;
}
.second-section {
}

/* This is second content - css */

.second-section {
  margin-top: 150px;
}
.second-div {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
}
.second-div1 {
  width: 35%;
}
.second-div-img {
  width: 350px;
  height: 382px;
}
.second-div2 {
  padding-left: 150px;
}
.second-p {
  width: 500px;
  font-size: 19px;
  line-height: 24px;
}
h3 {
  font-size: 40px;
  width: 401px;
}

/* This is third content - css */

.third-section {
  margin-top: 150px;
}
.third-div {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.third-div1 {
}
.third-div-img {
  width: 350px;
  margin-top: 0px;
  margin-left: 150px;
}
.third-div2 {
  width: 35%;
}
.third-p {
  width: 500px;
  font-size: 19px;
  line-height: 24px;
}

/* This is last content-css */

.last-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.H-two {
  font-size: 65px;
  text-align: center;
  display: block;
  margin-top: 65px;
  /* margin-bottom: 25px; */
}
.last-content1 {
}
.last-content1 img {
  width: 450px;
  /* height: 550px; */
}

.last-content2 {
  margin-left: 79px;
  margin-top: 20px;
}

.send {
  padding: 20px 200px;
  font-size: 20px;
  border-radius: 5px solid;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
  display: inline-block;
  background-image: linear-gradient(#a5d4ee, #11b1fb);
  border: none;
  border-radius: 10px;
}
form {
  width: 100%;
}
#first-name {
  padding: 10px 100px;
  font-size: 20px;
  border-radius: 5px solid;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
}
#last-name {
  padding: 10px 100px;
  font-size: 20px;
  border-radius: 5px solid;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
}
#email {
  padding: 10px 100px;
  font-size: 20px;
  border-radius: 5px solid;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
}
#text {
  padding: 50px 100px;
  font-size: 20px;
  border-radius: 5px solid;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
}
.one {
  font-size: 33px;
}

/* This is footer - css */

footer {
  min-height: 113px;
  background-color: #1f1310;
  color: #ffffff;
  text-align: center;
  margin-top: 63px;
}
footer p {
  margin-top: 0px;
  display: inline-block;
  font-size: 22px;
}
.span5 {
  color: #0389f7;
  font-size: 30px;
}
h4 {
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: -20px;
  display: block;
}
